footer{
  min-height: 10vh;
  background-color: #50717b;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  position: relative;
  align-items: center;
  text-align: center;
}

footer h3{
  text-align: center;
  /* position: absolute; */
  /* right: 0;
  left: 40%;
  top: 50%;
  bottom: 0; */
  margin-left: auto;
  margin-right: auto;
  color: white;
  width: 90%;
}

footer p {
  align-items: center;
  text-align: center;
  /* /* position: absolute; */
  /* left: 45%; */
  /* top: 0;
  bottom: 0; */
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

footer p a{
  color: white;
  font-size: 2rem;
  margin-right: 10px;
}

footer p a:hover{
  color:#212121;
}