.about-content-container{
  /* padding-right: 15px; */
  padding: 30px;
  /* padding-left: 15px; */
  width: 80%;
  /* height: 600px; */
  text-align: center;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  font-family: 'Poppins', sans-serif;
}

@media screen and (max-width : 1024px){
  .about-content-container{
    padding: 70px 30px 30px 30px;
  }

  .about-socials a{
    font-size: 3rem !important;
  }

  .about-paragraph h1{
    font-size: 2rem !important;
  }

  .p-about{
    font-size: 1.15rem !important;
  }
}

@media screen and (max-width : 768px){
  .about-content-container{
    padding: 45px 20px 20px 20px;
  }

  .about-socials a{
    font-size: 2.25rem !important;
  }

  .about-paragraph h1{
    font-size: 1.75rem !important;
  }

  .p-about{
    font-size: 1.25em;
  }
}

@media screen and (max-width : 545px){
  .about-content-container{
    padding: 20px;
  }

  .about-socials a{
    font-size: 2.25rem !important;
  }

  .about-paragraph h1{
    font-size: 1.5rem !important;
  }

  .p-about{
    font-size: 1rem;
  }
}

@media screen and (max-width : 425px){
  .about-content-container{
    padding: 25px 12px 12px 12px;
  }

  .about-socials a{
    font-size: 2rem !important;
  }

  .about-paragraph h1{
    font-size: 1.15rem !important;
  }

  .p-about{
    font-size: 13px !important;
  }

}

